{% extends 'base.html' %}
{% load static %}
{% block title %} {{query_title}} {% endblock %}

{% block content %}
<form action="{% url 'bikes:filter' %}" method="GET">
  <div style="border: black solid 1px; padding: 3px; font-size: 14px">
    <div>
      <select name="brand">
        <option disabled selected>Выбрать брэнд</option>
        {% for i in distinct_brand %}
        <option value="{{ i.brand }}">{{ i.brand }}</option>
        {% endfor %}
      </select>

      <select name="veloformat">
        <option disabled selected>Формат</option>
        {% for i in distinct_veloformat %}
        <option value="{{ i.veloformat }}">{{ i.veloformat }}</option>
        {% endfor %}
      </select>

      <select name="sex_age">
        <option disabled selected>Пол/Возраст</option>
        {% for i in distinct_sex_age %}
        <option value="{{ i.sex_age }}">{{ i.sex_age }}</option>
        {% endfor %}
      </select>
      <button type="submit">Поехали</button>
      <button type="reset">Сбросить</button>
    </div>
  </div>
</form>
<div class='carousel-index-top'>
  {% include 'includes/carousel.html' %}
</div>
  {% for i in filter_result %}
    <div class="bicycle-card">
      <a href="{% url 'bikes:model_detail' i.brand_slug i.model_slug %}"> 
        <div class="picture-mini">
          <img class="image-settings" src="{% static i.picture %}">
        </div>
      </a>
      {% include 'includes/specifications.html' %}
    </div>
  {% endfor %}
{% endblock %}