{% extends 'base.html' %}
{% load static %}
{% block title %} Формат велосипеда - {{ group.first.veloformat }} {% endblock %}

{% block content %}
  {% include 'includes/filter_bar.html' %}

  <div class='carousel-index-top'>
    {% include 'includes/carousel.html' %}
  </div>

  {% for i in page_obj %}
    <div class="bicycle-card">
      <a href="{% url 'bikes:model_detail' i.brand_slug i.model_slug %}"> 
      <div class="picture-mini">
        <img class="image-settings" src="{% static i.picture %}">
      </div>
      </a>
      {% include 'includes/specifications.html' %}
  </div>
  {% endfor %}
{% endblock %}