<style>
.container-for-header {
  display: flex;
}
.box-1 {
  flex:1;
}
.box-2 {
    flex:2;
}
.box-3 {
    flex:1;
}

</style>

<header class="container-for-header">
<div class="box-1">
    <div class="button-left" style="margin-left:60px">
      <a href="{% url 'bikes:about' %}">О сайте!</a>
    </div>
    <div class="button-left">
      <a href="#">Почитать</a>
    </div>
</div>
<div class="box-2">
    <div class="header">
      <a style="text-decoration: none;" href="{% url 'bikes:index' %}">ГлаВВелосипеД</a>
    </div>
</div>
<div class="box-3">
  <div class="button-right">
    <a href="{% url 'users:login' %}">Войти</a>
  </div>
  <div class="button-right">
    <a href="{% url 'users:signup' %}">Регистрация</a>
  </div>
</div>
</header>