{% extends "base.html" %}
{% block title %}
  ГлаВВелосипеД
{% endblock %}

{% block content %}
  <div>
    <div style="margin-top:50px">
      <h1 style="text-shadow: 1px 1px 2px gray">
        Небольшое описание сайта и информация о том, что тут есть и чего нет (а хотелось бы...).
      </h1>
      <hr>
      <ol>
        <li>
          Предлагаю начать с главной страницы. В хедере у нас, как обычно, название сайта и ...
        </li>
        <li>
          В главном блоке находятся все записи велосипедов из БД. Каждая ссылка ведет на определенную страницу,
          т.е. модель велосипеда ссылается на конкретную модел с подробным описанием, брэнд ссылается на группу
          со всеми велосипедами этого брэнда, пол и возраст ведут на велосипеды этой группы (их четыре: детский
          мужской, взрослый мужской, детский женский и взрослый женский, решил так сделать ¯\_(ツ)_/¯ )
        </li>
        <li>
          
        </li>
        <li>
          ...
        </li>
        <li>
    
        </li>
      </ol>
    </div>
  </div>
{% endblock %}