{% extends "base.html" %}
{% block title %}
  ГлаВВелосипеД
{% endblock %}

{% block content %}
  <div>
    <div style="margin-top:50px">
      <p style="font-size:24px">
        Это небольшой учебный проект по созданию сайта на Django. Коротко о сайте:
      </p>
      <br>
      <hr>
      <br>
      <ol>
        <li>
          К сайту прикручена БД SQLite с несколькими таблицами: основная - список велосипедов, и пара дополнительных
          - спортсмены, расширения для велосипедов и таблица с отзывами. На сайте доступна регистрация пользователей.
          Каждый пользователь может просмотреть отзывы на странице <a style="color:red" href="{% url 'feedback:feedback_posts' %}">
          отзывов</a>, а зарегистрированные пользователи могут оставить свои впечатления о сайте, картинках из Stable Diffusion
          или просто выплеснуть негатив <a style="color:red" href="{% url 'feedback:create' %}">здесь</a>.
        </li>
        <br>
        <li>
          На главной странице настроена пагинация и, которая выдает выборку из 15 записей на страницу. В записях
          содержится информация из таблицы "Bikes". Из БД достаются основные характеристики велосипеда, которые,
          в свою очередь, также являются ссылками на похожие модели. Т.е. если нажать на ссылку "Формат: BMX" - 
          откроются все BMX-велосипеды, которые есть в БД. Также с полом/возрастом и брэндом. Ссылка "Модель" открывает
          страницу непосредственно с самой моделью и ее увеличенным изображением. Ссылка "Цена" направляет на страницу
          с велосипедами такой же ценовой категории: +/- 3000
        </li>
        <li>

        </li>
        <li>
          Верстка построена на флексбоксах и костылях. Так как я претендую, в первую очередь, на позицию back-end
          разработчика, то старался сделать минималистично, максимально (насколько могу) красиво и без лишних
          спецэффектов, которые бы отвлекали и сильно грузили сайт. 
        </li>
        <li>
          ...
        </li>
        <li>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}