{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div>
    <div style="margin-top:50px">
      <h2 style="text-align: center;">
        Это небольшой учебный проект по созданию сайта на Django. Коротко о сайте:
      </h2>
      <br>
      <hr>
      <br>
        <h3 style="text-align: center;"> База Данных </h3>
        <p>К сайту прикручена БД SQLite с несколькими таблицами: основная - список велосипедов, и пара дополнительных
           - спортсмены, расширения для велосипедов и таблица с отзывами. На сайте доступна регистрация пользователей.
           Каждый пользователь может просмотреть отзывы на странице <a style="color:red" href="{% url 'feedback:feedback_posts' %}">
           отзывов</a>, а зарегистрированные пользователи могут оставить свои впечатления о сайте, картинках из Stable Diffusion
           или просто кусочек своего творчества <a style="color:red" href="{% url 'feedback:create' %}">здесь</a>.</p>
        <br>
        <h3 style="text-align: center;"> Пагинация </h3>
        <p>Пагинация... Как много в этом звуке для сердца русского слилось! Пагинатор выдает выборку из 15 записей (моделей
           велосипедов или отызвов) на страницу. В записях содержится информация из таблицы "New_Bike". Из БД достаются
           основные характеристики велосипеда, которые, в свою очередь, также являются ссылками на модели той же категории.
           Т.е. если нажать на ссылку "Формат: BMX" - откроются все BMX-велосипеды, которые есть в БД, нажатие на "Brand"
           откроет все велосипеды этого производителя. Также работает и переход по категории "Пол & Возраст". Ссылка "Модель" открывает
           страницу непосредственно с самой моделью и ее увеличенным изображением. Ссылка "Цена" направляет на страницу
           с велосипедами такой же ценовой категории: +/- 3000 (для велосипедов с ценой меньше 3000 рублей во вью добавлено
           условие искусственно добавить 2000 для "правильного" вывода в текста title - не может ведь велосипед стоить меньше
           одной тысячи?! А тем более уйти в минус!).</p>
        <br>
        <h3 style="text-align: center;"> Админка </h3>
        <p>Админка настроена</p>
        <br>
        <h3 style="text-align: center;"> Верстка </h3>
        <p>Верстка построена на флексбоксах и костылях. Так как я претендую, в первую очередь, на позицию back-end
           разработчика, то старался сделать минималистично, максимально (насколько могу) красиво и без лишних спецэффектов, 
           которые бы отвлекали и сильно грузили сайт. Коротко: В хедере простенькая навигация. Если зарегистрироваться и войти
           - ссылки изменятся и появится возможность оставить комментарий. В основном блоке -  вывод каждой записи из БД в 
           отдельный div-блок. При наведении на него - он подсвечивается светло-голубым. Все характеристики - ссылки (более подробно
           об этом в разделе view-функции). В футере - footer (кэп?!) с контекстным процессором, который сам меняет год (Wow!)</p>
        <br>
        <h3 style="text-align: center;"> Тесты </h3>
        <p>Тесты url. есты views</p>
        <br>
        <h3 style="text-align: center;"> Captcha </h3>
        <p>В форму регистрации и авторизации пользователя добавлена капча, чтобы всякие мимопроходящие проходили мимо. 
           В ней были слегка изменены настройки по умолчанию: количество символов увеличено с четырех до шести, добавлено
           больше шума и искажений на фон, актуальное время действия капчи уменьшено с пяти до двух минут.</p>
    </div>
  </div>
{% endblock %}