{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="{% static "img/logo/favicon.ico" %}" type="image">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/logo/apple-touch-icon.png" %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/logo/favicon-32x32.png" %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/logo/favicon-16x16.png" %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <title> {% block title %}{% endblock %} </title>
  </head>
  <body>
    <div class="base">
      {% include 'includes/header.html' %}
      <div class="container-1">
        <div class="main-middle-box">
          {% block content %}
          {% endblock %}
        </div>
        <div class="paginator">
          {% include 'includes/paginator.html' %}
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>
  </body>
</html>