*{
  font-family: "Stamps_Pro_Flex";
  margin: 0px;
  padding: 0px;
  color: #444444;
}

a {
  text-decoration: none !important;
  border: none !important;
  }

/* основной блок, в котором находятся все остальные блоки */
.base {
  flex-direction: column;
}

.header {
  font-size: 4.5vw;
  text-align: center;
  /* object-fit: contain; */
  color: #d1d1d1;

}

.carousel-index-top {
  margin-bottom: 30px;
}
.container-1 {
  min-height: 100vh;
}
.container-1 div {
  /* padding: 10px; */
  justify-content: space-around;
}

/* адаптивность под разные экраны для блока с велосипедами и пагинатора: внешний отступ */
@media screen and (max-width: 700px) {
  .main-middle-box, .paginator {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
}
@media screen and (min-width: 700px) {
  .main-middle-box, .paginator {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media screen and (min-width: 1920px) {
  .main-middle-box, .paginator {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* контейнер под каждый товар: картинка и основные данные */
.bicycle-card {
  border: 2px solid #444444;
  border-radius: 10px;
  margin-bottom: 20px;
  align-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.bicycle-card:hover {
  box-shadow: inset 0px 0px 30px #faffd1;
}
.bicycle-card li {
  font-size: 13px;
  list-style-type: square;
  margin: 8px;
  margin-left: 16px;
}

/* контейнер под картинку */
.picture-mini {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:stretch;
  width: 320px;
  height: 256px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* пока не удалять, была нужна*/
/* .image-settings {
  flex-shrink: 0;
} */

/* пытался сделать картинку на фон */
/* .lower-main-middle-box {
  display: flex;
  background-image: "../img/site/background_image_repeat.png";
  background-image: "../img/site/lower-main-middle-box.png";
} */

/* стиль для элементов списка пагинатора */
.paginator ul li {
  font-size: 16px;
  font-family: "Stamps_Pro_Flex";
  margin: 8px;
  display: inline;
  text-decoration-skip-ink: none;
  text-decoration: none;
}
.paginator ul li:hover {
  text-shadow: 0px 0px 3px red;
}
/* выделяем цифру, на которой сейчас находится страница */
.page-link {
  font-size: 20px;
}

.carousel-index-top {
  display: flex;
}

.footer {
  font-family: "Stamps_Pro_Flex";
  font-size: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  /* object-fit: contain; */
  line-height: 100px;
  border-top: #444444 2px solid;
  margin-top: 10px;
}

/* скачанный шрифт для основного заголовка */
@font-face {
  font-family: "Stamps_Pro_Flex"; 
  src: url("../fonts/Stamps_Pro_Flex.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  }

.container-for-header {
  padding-left: 30px;
  padding-right: 30px;
}

/* .button-left {
  font-family: "Stamps_Pro_Flex";
  height: 54px;
  font-size: 20px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}
.button-right {
  font-family: "Stamps_Pro_Flex";
  height: 54px;
  font-size: 20px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
} */