{% extends 'base.html' %}
{% load static %}
{% block title %}
  Страница отзывов и предложений
{% endblock %}

{% block content %}
  {% for i in page_obj %}
    <div style="width: 400px; display: flex; flex-direction: column; margin: 20px">
      <div>
        <ul>
          <li>
            Автор: {{ i.author }}
          </li>
          <li>
            {{ i.text }}
          </li>
          <li>
            <small>Дата публикации: {{ i.pub_date }}</small>
          </li>
        </ul>
        <hr><br>
      </div>
    </div>
  {% endfor %}
{% endblock %}


